body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 25px;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states .active {
  fill: orange;
}

path.connection {
	stroke: blue;
	stroke-width: 1px;
	fill: none;
}
